## Bibliotecas
    importa las bibliotecas pandas, numpy

In [205]:
import pandas as pd
import numpy as np

## Buscar ubicación y leer la base de datos en formato ".csv"

In [206]:
path = "./newview_202204281123.csv"
df = pd.read_csv(path, header = 0)

df.head()

,id,timestamp,pmv,ppd,co2,pm25,pm10,temp,hr,voc,co,no2,c2h5ch,idnodo
0,3909493,2022-04-28 15:23:00,-1.11,31.0,727.0,3.9,7.3,20.7,52.1,63.0,1.20,411.0,99.0,b769f4
1,3909491,2022-04-28 15:23:00,0.44,9.0,733.0,3.1,4.8,25.9,49.0,7.0,0.36,14.0,8.0,ee10d2
2,3909488,2022-04-28 15:23:00,-0.45,9.0,708.0,7.4,11.5,22.9,52.1,23.0,0.92,372.0,66.0,7d2602
3,3909489,2022-04-28 15:23:00,0.61,13.0,729.0,4.8,13.6,26.5,47.6,16.0,0.80,287.0,201.0,6036cb
4,3909490,2022-04-28 15:23:00,0.20,6.0,721.0,6.1,15.5,25.1,49.4,14.0,1.62,131.0,52.0,d49233

## Agrega encabezados

In [207]:
# crea una lista con el encabezado
# encabezado = ["symboling","normalized-losses","make","fuel-type","aspiration","num-of-doors","body-style", "drive-wheels","engine-location","wheel-base","length","width","height","curb-weight","engine-type","num-of-cylinders","engine-size","fuel-system","bore","stroke","compression-ratio","horsepower","peak-rpm","city-mpg","highway-mpg","price"]
# df.columns = encabezado

## Descripción
    Se muestra la cantidad, el promedio de las columnas, la desviación estandar, el mínimo, el percentil 25%, el percentil 50%, el el percentil 75%, el máximo

In [208]:
df.describe()

,id,pmv,ppd,co2,pm25,pm10,temp,hr,voc,co,no2,c2h5ch
count,1.200000e+02,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.00000,120.000000,120.000000,120.000000
mean,3.909433e+06,-0.085750,14.933333,725.133333,4.354167,10.765833,24.123333,50.447500,30.80000,1.148083,368.341667,106.308333
std,3.495459e+01,0.684754,10.400172,7.977840,2.171430,9.103878,2.287552,2.029942,24.21181,0.420676,216.941788,84.676428
min,3.909364e+06,-1.250000,5.000000,708.000000,0.000000,-1.000000,20.200000,47.000000,6.00000,0.360000,13.000000,8.000000
25%,3.909404e+06,-0.480000,6.000000,721.000000,3.475000,5.600000,22.800000,49.200000,15.00000,0.730000,224.750000,52.000000
50%,3.909434e+06,0.030000,9.000000,727.000000,4.200000,9.000000,24.500000,50.100000,18.00000,1.135000,369.500000,92.000000
75%,3.909463e+06,0.425000,22.250000,731.250000,5.200000,14.150000,25.825000,51.325000,53.00000,1.580000,480.500000,176.000000
max,3.909493e+06,1.100000,38.000000,734.000000,12.000000,58.200000,28.100000,58.900000,102.00000,1.820000,999.000000,343.000000

## Información
Se imprime la información con los indices `columnas` y ` Número de valores no-nulos`, `dtype` y `uso de la memoria`.

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         120 non-null    int64
 1   timestamp  120 non-null    object
 2   pmv        120 non-null    float64
 3   ppd        120 non-null    float64
 4   co2        120 non-null    float64
 5   pm25       120 non-null    float64
 6   pm10       120 non-null    float64
 7   temp       120 non-null    float64
 8   hr         120 non-null    float64
 9   voc        120 non-null    float64
 10  co         120 non-null    float64
 11  no2        120 non-null    float64
 12  c2h5ch     120 non-null    float64
 13  idnodo     120 non-null    object
dtypes: float64(11), int64(1), object(2)
memory usage: 13.2+ KB

## Verificar si los datos son nulos
    Si hay un valor en blanco devuelve "TRUE" en el caso contrario devuelve "FALSE"

In [210]:
Datos_nulos = df.isnull()
Datos_nulos.head(10)

,id,timestamp,pmv,ppd,co2,pm25,pm10,temp,hr,voc,co,no2,c2h5ch,idnodo
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## Reemplazar valores "?" por "NaN"

In [211]:
# df.replace("?", np.nan, inplace = True)
# df.head()

## Estandarizar los datos de entrada

## Normalizar los datos de entrada

## Guardar el dataset como ".csv"

In [212]:
df.head(20)
df.to_csv("./BD_fix.csv", index=True)