## Bibliotecas
importa las bibliotecas pandas, numpy

In [226]:
import pandas as pd
import numpy as np

## Buscar ubicaci√≥n y leer la base de datos en formato ".csv"

In [227]:
path = "./newview_202204281140.csv"
df = pd.read_csv(path, header = 0)

df.head()

,id,timestamp,pmv,ppd,co2,pm25,pm10,temp,hr,voc,co,no2,c2h5ch,idnodo
0,3909814,2022-04-28 15:40:00,0.88,21.0,708.0,0.0,-1.0,27.3,50.0,39.0,1.56,55.0,103.0,fdba37
1,3909794,2022-04-28 15:38:00,0.88,21.0,708.0,0.0,?,27.3,49.,40.0,1.62,57.0,104.0,fdba37
2,3909774,2022-04-28 15:37:00,0.88,21.0,708.0,NaN,4.3,27.3,49.6,40.0,1.57,56.0,104.0,fdba37
3,3909754,2022-04-28 15:36:00,0.88,21.0,?,2.4,3.0,?,49.6,40.0,1.57,55.0,104.0,fdba37
4,3909734,2022-04-28 15:35:00,NaN,?,708.0,2.6,3.7,27.3,49.4,40.0,1.56,56.0,104.0,fdba37

## Revisar encabezados

In [228]:
df.head()

,id,timestamp,pmv,ppd,co2,pm25,pm10,temp,hr,voc,co,no2,c2h5ch,idnodo
0,3909814,2022-04-28 15:40:00,0.88,21.0,708.0,0.0,-1.0,27.3,50.0,39.0,1.56,55.0,103.0,fdba37
1,3909794,2022-04-28 15:38:00,0.88,21.0,708.0,0.0,?,27.3,49.,40.0,1.62,57.0,104.0,fdba37
2,3909774,2022-04-28 15:37:00,0.88,21.0,708.0,NaN,4.3,27.3,49.6,40.0,1.57,56.0,104.0,fdba37
3,3909754,2022-04-28 15:36:00,0.88,21.0,?,2.4,3.0,?,49.6,40.0,1.57,55.0,104.0,fdba37
4,3909734,2022-04-28 15:35:00,NaN,?,708.0,2.6,3.7,27.3,49.4,40.0,1.56,56.0,104.0,fdba37

## Descripci√≥n
Se muestra la cantidad, el promedio de las columnas, la desviaci√≥n estandar, el m√≠nimo, el percentil 25%, el percentil 50%, el el percentil 75%, el m√°ximo.

In [229]:
df.describe(include = "all")

,id,timestamp,pmv,ppd,co2,pm25,pm10,temp,hr,voc,co,no2,c2h5ch,idnodo
count,6.000000e+01,60,55,58,59,51,57,58,58,55,57,59,60,59
unique,NaN,60,11,6,3,28,43,5,23,7,25,14,4,1
top,NaN,2022-04-28 15:40:00,0.88,21.0,708.0,0.0,-1.0,27.3,49.8,40.0,1.57,55.0,103.0,fdba37
freq,NaN,1,22,32,56,7,7,30,8,33,5,10,38,59
mean,3.909224e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,3.492850e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.908634e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.908929e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.909224e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.909519e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.909814e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Informaci√≥n
Se imprime la informaci√≥n con los indices `columnas` y ` N√∫mero de valores no-nulos`, `dtype` y `uso de la memoria`.

In [230]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         60 non-null     int64
 1   timestamp  60 non-null     object
 2   pmv        55 non-null     object
 3   ppd        58 non-null     object
 4   co2        59 non-null     object
 5   pm25       51 non-null     object
 6   pm10       57 non-null     object
 7   temp       58 non-null     object
 8   hr         58 non-null     object
 9   voc        55 non-null     object
 10  co         57 non-null     object
 11  no2        59 non-null     object
 12  c2h5ch     60 non-null     object
 13  idnodo     59 non-null     object
dtypes: int64(1), object(13)
memory usage: 6.7+ KB

## Verificar si los datos son nulos
Si hay un valor en blanco devuelve `"TRUE"` en el caso contrario devuelve `"FALSE"`.

In [231]:
Datos_nulos = df.isnull()
Datos_nulos.head(10)

,id,timestamp,pmv,ppd,co2,pm25,pm10,temp,hr,voc,co,no2,c2h5ch,idnodo
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,True,False,False,False,False,True,False,False,False
6,False,False,False,False,False,False,False,True,False,False,False,True,False,False
7,False,False,True,False,False,False,True,False,False,False,False,False,False,False
8,False,False,False,False,False,True,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,True,False,False,False,False,False

## Identificar valores
Identificar valores como por ejemplo: `"?"`.

In [232]:
df.head(30)

,id,timestamp,pmv,ppd,co2,pm25,pm10,temp,hr,voc,co,no2,c2h5ch,idnodo
0,3909814,2022-04-28 15:40:00,0.88,21.0,708.0,0.0,-1.0,27.3,50.0,39.0,1.56,55.0,103.0,fdba37
1,3909794,2022-04-28 15:38:00,0.88,21.0,708.0,0.0,?,27.3,49.,40.0,1.62,57.0,104.0,fdba37
2,3909774,2022-04-28 15:37:00,0.88,21.0,708.0,NaN,4.3,27.3,49.6,40.0,1.57,56.0,104.0,fdba37
3,3909754,2022-04-28 15:36:00,0.88,21.0,?,2.4,3.0,?,49.6,40.0,1.57,55.0,104.0,fdba37
4,3909734,2022-04-28 15:35:00,NaN,?,708.0,2.6,3.7,27.3,49.4,40.0,1.56,56.0,104.0,fdba37
5,3909714,2022-04-28 15:34:00,0.88,21.0,708.0,NaN,4.1,27.3,49.5,40.0,NaN,56.0,104.0,fdba37
6,3909694,2022-04-28 15:33:00,0.88,21.0,708.0,2.7,3.6,NaN,?,40.0,1.56,NaN,103.0,fdba37
7,3909674,2022-04-28 15:32:00,NaN,21.0,708.0,0.0,NaN,27.3,49.8,?,1.58,55.0,103.0,fdba37
8,3909654,2022-04-28 15:31:00,0.88,21.0,708.0,NaN,4.0,27.3,49.8,40.0,1.6,55.0,104.0,fdba37
9,3909634,2022-04-28 15:30:00,0.88,21.0,708.0,2.9,5.2,27.3,NaN,40.0,1.59,55.0,103.0,fdba37
10,3909614,2022-04-28 15:29:00,0.88,21.0,708.0,NaN,6.8,27.3,49.8,40.0,1.59,?,104.0,fdba37
11,3909594,2022-04-28 15:28:00,0.88,21.0,708.0,3.2,NaN,27.3,49.8,40.0,1.6,54.0,103.0,fdba37
12,3909574,2022-04-28 15:27:00,0.88,21.0,?,3.9,6.8,27.3,49.9,NaN,NaN,55.0,103.0,fdba37
13,3909554,2022-04-28 15:26:00,0.88,21.0,NaN,3.8,9.1,?,49.8,40.0,1.62,?,103.0,fdba37
14,3909534,2022-04-28 15:25:00,NaN,NaN,708.0,3.9,6.6,27.3,49.7,41.0,NaN,56.0,103.0,fdba37
15,3909514,2022-04-28 15:24:00,0.88,21.0,708.0,3.4,6.0,27.3,49.9,40.0,1.57,57.0,103.0,fdba37
16,3909494,2022-04-28 15:23:00,0.88,21.0,708.0,NaN,6.9,27.3,49.9,41.0,1.58,57.0,104.0,fdba37
17,3909474,2022-04-28 15:22:00,0.88,21.0,708.0,3.9,7.7,27.3,49.8,40.0,1.58,58.0,104.0,fdba37
18,3909454,2022-04-28 15:21:00,0.88,21.0,708.0,3.5,5.3,27.3,49.9,NaN,1.6,57.0,103.0,fdba37
19,3909434,2022-04-28 15:20:00,0.88,21.0,708.0,NaN,NaN,27.3,50.1,40.0,1.61,?,103.0,fdba37
20,3909414,2022-04-28 15:19:00,0.88,21.0,708.0,2.8,4.6,27.3,49.7,40.0,1.6300000000000001,57.0,103.0,fdba37
21,3909394,2022-04-28 15:18:00,NaN,NaN,708.0,3.1,5.0,27.3,50.1,NaN,1.58,58.0,103.0,fdba37
22,3909374,2022-04-28 15:17:00,0.88,22.0,708.0,3.1,5.6,27.3,50.3,NaN,1.61,55.0,103.0,fdba37
23,3909354,2022-04-28 15:16:00,0.88,22.0,708.0,NaN,-1.0,27.3,?,40.0,1.6400000000000001,54.0,103.0,fdba37
24,3909334,2022-04-28 15:14:00,0.89,22.0,708.0,0.0,-1.0,27.3,50.4,40.0,1.6400000000000001,54.0,104.0,fdba37
25,3909314,2022-04-28 15:13:00,0.89,22.0,708.0,4.2,8.1,27.3,50.4,40.0,1.6500000000000001,54.0,103.0,fdba37
26,3909294,2022-04-28 15:12:00,0.89,22.0,708.0,3.0,5.9,27.3,50.4,40.0,1.6400000000000001,54.0,103.0,fdba37
27,3909274,2022-04-28 15:11:00,0.88,21.0,708.0,4.0,8.1,27.3,49.8,40.0,1.6500000000000001,55.0,103.0,fdba37
28,3909254,2022-04-28 15:10:00,0.89,22.0,708.0,4.2,8.2,27.3,50.4,40.0,1.59,58.0,103.0,fdba37
29,3909234,2022-04-28 15:09:00,0.89,22.0,708.0,3.3,6.1,27.3,50.7,40.0,1.6300000000000001,58.0,104.0,fdba37

## Reemplazar valores "?" por "NaN"
Reemplazar los valores `"?"` por `"NaN"` que es nulo.

In [233]:
df.replace("?", np.nan, inplace = True)
df.head(30)

,id,timestamp,pmv,ppd,co2,pm25,pm10,temp,hr,voc,co,no2,c2h5ch,idnodo
0,3909814,2022-04-28 15:40:00,0.88,21.0,708.0,0.0,-1.0,27.3,50.0,39.0,1.56,55.0,103.0,fdba37
1,3909794,2022-04-28 15:38:00,0.88,21.0,708.0,0.0,NaN,27.3,49.,40.0,1.62,57.0,104.0,fdba37
2,3909774,2022-04-28 15:37:00,0.88,21.0,708.0,NaN,4.3,27.3,49.6,40.0,1.57,56.0,104.0,fdba37
3,3909754,2022-04-28 15:36:00,0.88,21.0,NaN,2.4,3.0,NaN,49.6,40.0,1.57,55.0,104.0,fdba37
4,3909734,2022-04-28 15:35:00,NaN,NaN,708.0,2.6,3.7,27.3,49.4,40.0,1.56,56.0,104.0,fdba37
5,3909714,2022-04-28 15:34:00,0.88,21.0,708.0,NaN,4.1,27.3,49.5,40.0,NaN,56.0,104.0,fdba37
6,3909694,2022-04-28 15:33:00,0.88,21.0,708.0,2.7,3.6,NaN,NaN,40.0,1.56,NaN,103.0,fdba37
7,3909674,2022-04-28 15:32:00,NaN,21.0,708.0,0.0,NaN,27.3,49.8,NaN,1.58,55.0,103.0,fdba37
8,3909654,2022-04-28 15:31:00,0.88,21.0,708.0,NaN,4.0,27.3,49.8,40.0,1.6,55.0,104.0,fdba37
9,3909634,2022-04-28 15:30:00,0.88,21.0,708.0,2.9,5.2,27.3,NaN,40.0,1.59,55.0,103.0,fdba37
10,3909614,2022-04-28 15:29:00,0.88,21.0,708.0,NaN,6.8,27.3,49.8,40.0,1.59,NaN,104.0,fdba37
11,3909594,2022-04-28 15:28:00,0.88,21.0,708.0,3.2,NaN,27.3,49.8,40.0,1.6,54.0,103.0,fdba37
12,3909574,2022-04-28 15:27:00,0.88,21.0,NaN,3.9,6.8,27.3,49.9,NaN,NaN,55.0,103.0,fdba37
13,3909554,2022-04-28 15:26:00,0.88,21.0,NaN,3.8,9.1,NaN,49.8,40.0,1.62,NaN,103.0,fdba37
14,3909534,2022-04-28 15:25:00,NaN,NaN,708.0,3.9,6.6,27.3,49.7,41.0,NaN,56.0,103.0,fdba37
15,3909514,2022-04-28 15:24:00,0.88,21.0,708.0,3.4,6.0,27.3,49.9,40.0,1.57,57.0,103.0,fdba37
16,3909494,2022-04-28 15:23:00,0.88,21.0,708.0,NaN,6.9,27.3,49.9,41.0,1.58,57.0,104.0,fdba37
17,3909474,2022-04-28 15:22:00,0.88,21.0,708.0,3.9,7.7,27.3,49.8,40.0,1.58,58.0,104.0,fdba37
18,3909454,2022-04-28 15:21:00,0.88,21.0,708.0,3.5,5.3,27.3,49.9,NaN,1.6,57.0,103.0,fdba37
19,3909434,2022-04-28 15:20:00,0.88,21.0,708.0,NaN,NaN,27.3,50.1,40.0,1.61,NaN,103.0,fdba37
20,3909414,2022-04-28 15:19:00,0.88,21.0,708.0,2.8,4.6,27.3,49.7,40.0,1.6300000000000001,57.0,103.0,fdba37
21,3909394,2022-04-28 15:18:00,NaN,NaN,708.0,3.1,5.0,27.3,50.1,NaN,1.58,58.0,103.0,fdba37
22,3909374,2022-04-28 15:17:00,0.88,22.0,708.0,3.1,5.6,27.3,50.3,NaN,1.61,55.0,103.0,fdba37
23,3909354,2022-04-28 15:16:00,0.88,22.0,708.0,NaN,-1.0,27.3,NaN,40.0,1.6400000000000001,54.0,103.0,fdba37
24,3909334,2022-04-28 15:14:00,0.89,22.0,708.0,0.0,-1.0,27.3,50.4,40.0,1.6400000000000001,54.0,104.0,fdba37
25,3909314,2022-04-28 15:13:00,0.89,22.0,708.0,4.2,8.1,27.3,50.4,40.0,1.6500000000000001,54.0,103.0,fdba37
26,3909294,2022-04-28 15:12:00,0.89,22.0,708.0,3.0,5.9,27.3,50.4,40.0,1.6400000000000001,54.0,103.0,fdba37
27,3909274,2022-04-28 15:11:00,0.88,21.0,708.0,4.0,8.1,27.3,49.8,40.0,1.6500000000000001,55.0,103.0,fdba37
28,3909254,2022-04-28 15:10:00,0.89,22.0,708.0,4.2,8.2,27.3,50.4,40.0,1.59,58.0,103.0,fdba37
29,3909234,2022-04-28 15:09:00,0.89,22.0,708.0,3.3,6.1,27.3,50.7,40.0,1.6300000000000001,58.0,104.0,fdba37

## Verificar si los datos cambiaron correctamente
Si hay un valor en blanco devuelve `"TRUE"` en el caso contrario devuelve `"FALSE"`.

In [234]:
Datos_nulos = df.isnull()
Datos_nulos.head(30)

,id,timestamp,pmv,ppd,co2,pm25,pm10,temp,hr,voc,co,no2,c2h5ch,idnodo
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,True,False,False,False,False,False,False
4,False,False,True,True,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,True,False,False,False,False,True,False,False,False
6,False,False,False,False,False,False,False,True,True,False,False,True,False,False
7,False,False,True,False,False,False,True,False,False,True,False,False,False,False
8,False,False,False,False,False,True,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,True,False,False,False,False,False
10,False,False,False,False,False,True,False,False,False,False,False,True,False,False
11,False,False,False,False,False,False,True,False,False,False,False,False,False,False
12,False,False,False,False,True,False,False,False,False,True,True,False,False,False
13,False,False,False,False,True,False,False,True,False,False,False,True,False,False
14,False,False,True,True,False,False,False,False,False,False,True,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,True,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,True,False,False,False,False
19,False,False,False,False,False,True,True,False,False,False,False,True,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,True,True,False,False,False,False,False,True,False,False,False,False
22,False,False,False,False,False,False,False,False,False,True,False,False,False,False
23,False,False,False,False,False,True,False,False,True,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## Estandarizar los datos de entrada
- Se agrega una columna m√°s con el promedio del co2, 
- Se usa la la funci√≥n `"pd.to_numeric()"` para pasar de tipo `"Object"` a tipo `"float64"`
- Se usa la funci√≥n `"mean()"` para sacar el promedio de la columna `"co2"`

In [235]:
# Agregar una columna m√°s con el promedio del co2
df['co2_promedio'] = (pd.to_numeric(df["co2"])).mean()

# Verifica la transformaci√≥n de los datos 
df.head(20)

,id,timestamp,pmv,ppd,co2,pm25,pm10,temp,hr,voc,co,no2,c2h5ch,idnodo,co2_promedio
0,3909814,2022-04-28 15:40:00,0.88,21.0,708.0,0.0,-1.0,27.3,50.0,39.0,1.56,55.0,103.0,fdba37,695.659649
1,3909794,2022-04-28 15:38:00,0.88,21.0,708.0,0.0,NaN,27.3,49.,40.0,1.62,57.0,104.0,fdba37,695.659649
2,3909774,2022-04-28 15:37:00,0.88,21.0,708.0,NaN,4.3,27.3,49.6,40.0,1.57,56.0,104.0,fdba37,695.659649
3,3909754,2022-04-28 15:36:00,0.88,21.0,NaN,2.4,3.0,NaN,49.6,40.0,1.57,55.0,104.0,fdba37,695.659649
4,3909734,2022-04-28 15:35:00,NaN,NaN,708.0,2.6,3.7,27.3,49.4,40.0,1.56,56.0,104.0,fdba37,695.659649
5,3909714,2022-04-28 15:34:00,0.88,21.0,708.0,NaN,4.1,27.3,49.5,40.0,NaN,56.0,104.0,fdba37,695.659649
6,3909694,2022-04-28 15:33:00,0.88,21.0,708.0,2.7,3.6,NaN,NaN,40.0,1.56,NaN,103.0,fdba37,695.659649
7,3909674,2022-04-28 15:32:00,NaN,21.0,708.0,0.0,NaN,27.3,49.8,NaN,1.58,55.0,103.0,fdba37,695.659649
8,3909654,2022-04-28 15:31:00,0.88,21.0,708.0,NaN,4.0,27.3,49.8,40.0,1.6,55.0,104.0,fdba37,695.659649
9,3909634,2022-04-28 15:30:00,0.88,21.0,708.0,2.9,5.2,27.3,NaN,40.0,1.59,55.0,103.0,fdba37,695.659649
10,3909614,2022-04-28 15:29:00,0.88,21.0,708.0,NaN,6.8,27.3,49.8,40.0,1.59,NaN,104.0,fdba37,695.659649
11,3909594,2022-04-28 15:28:00,0.88,21.0,708.0,3.2,NaN,27.3,49.8,40.0,1.6,54.0,103.0,fdba37,695.659649
12,3909574,2022-04-28 15:27:00,0.88,21.0,NaN,3.9,6.8,27.3,49.9,NaN,NaN,55.0,103.0,fdba37,695.659649
13,3909554,2022-04-28 15:26:00,0.88,21.0,NaN,3.8,9.1,NaN,49.8,40.0,1.62,NaN,103.0,fdba37,695.659649
14,3909534,2022-04-28 15:25:00,NaN,NaN,708.0,3.9,6.6,27.3,49.7,41.0,NaN,56.0,103.0,fdba37,695.659649
15,3909514,2022-04-28 15:24:00,0.88,21.0,708.0,3.4,6.0,27.3,49.9,40.0,1.57,57.0,103.0,fdba37,695.659649
16,3909494,2022-04-28 15:23:00,0.88,21.0,708.0,NaN,6.9,27.3,49.9,41.0,1.58,57.0,104.0,fdba37,695.659649
17,3909474,2022-04-28 15:22:00,0.88,21.0,708.0,3.9,7.7,27.3,49.8,40.0,1.58,58.0,104.0,fdba37,695.659649
18,3909454,2022-04-28 15:21:00,0.88,21.0,708.0,3.5,5.3,27.3,49.9,NaN,1.6,57.0,103.0,fdba37,695.659649
19,3909434,2022-04-28 15:20:00,0.88,21.0,708.0,NaN,NaN,27.3,50.1,40.0,1.61,NaN,103.0,fdba37,695.659649

## Normalizar los datos de entrada

## Guardar el dataset como ".csv"
Se guarda la base de datos con el nombre `"BD_fix"` que tiene una extensi√≥n `".csv"`

In [236]:
df.head(20)
# df.to_csv("./BD_fix.csv", index=True)

,id,timestamp,pmv,ppd,co2,pm25,pm10,temp,hr,voc,co,no2,c2h5ch,idnodo,co2_promedio
0,3909814,2022-04-28 15:40:00,0.88,21.0,708.0,0.0,-1.0,27.3,50.0,39.0,1.56,55.0,103.0,fdba37,695.659649
1,3909794,2022-04-28 15:38:00,0.88,21.0,708.0,0.0,NaN,27.3,49.,40.0,1.62,57.0,104.0,fdba37,695.659649
2,3909774,2022-04-28 15:37:00,0.88,21.0,708.0,NaN,4.3,27.3,49.6,40.0,1.57,56.0,104.0,fdba37,695.659649
3,3909754,2022-04-28 15:36:00,0.88,21.0,NaN,2.4,3.0,NaN,49.6,40.0,1.57,55.0,104.0,fdba37,695.659649
4,3909734,2022-04-28 15:35:00,NaN,NaN,708.0,2.6,3.7,27.3,49.4,40.0,1.56,56.0,104.0,fdba37,695.659649
5,3909714,2022-04-28 15:34:00,0.88,21.0,708.0,NaN,4.1,27.3,49.5,40.0,NaN,56.0,104.0,fdba37,695.659649
6,3909694,2022-04-28 15:33:00,0.88,21.0,708.0,2.7,3.6,NaN,NaN,40.0,1.56,NaN,103.0,fdba37,695.659649
7,3909674,2022-04-28 15:32:00,NaN,21.0,708.0,0.0,NaN,27.3,49.8,NaN,1.58,55.0,103.0,fdba37,695.659649
8,3909654,2022-04-28 15:31:00,0.88,21.0,708.0,NaN,4.0,27.3,49.8,40.0,1.6,55.0,104.0,fdba37,695.659649
9,3909634,2022-04-28 15:30:00,0.88,21.0,708.0,2.9,5.2,27.3,NaN,40.0,1.59,55.0,103.0,fdba37,695.659649
10,3909614,2022-04-28 15:29:00,0.88,21.0,708.0,NaN,6.8,27.3,49.8,40.0,1.59,NaN,104.0,fdba37,695.659649
11,3909594,2022-04-28 15:28:00,0.88,21.0,708.0,3.2,NaN,27.3,49.8,40.0,1.6,54.0,103.0,fdba37,695.659649
12,3909574,2022-04-28 15:27:00,0.88,21.0,NaN,3.9,6.8,27.3,49.9,NaN,NaN,55.0,103.0,fdba37,695.659649
13,3909554,2022-04-28 15:26:00,0.88,21.0,NaN,3.8,9.1,NaN,49.8,40.0,1.62,NaN,103.0,fdba37,695.659649
14,3909534,2022-04-28 15:25:00,NaN,NaN,708.0,3.9,6.6,27.3,49.7,41.0,NaN,56.0,103.0,fdba37,695.659649
15,3909514,2022-04-28 15:24:00,0.88,21.0,708.0,3.4,6.0,27.3,49.9,40.0,1.57,57.0,103.0,fdba37,695.659649
16,3909494,2022-04-28 15:23:00,0.88,21.0,708.0,NaN,6.9,27.3,49.9,41.0,1.58,57.0,104.0,fdba37,695.659649
17,3909474,2022-04-28 15:22:00,0.88,21.0,708.0,3.9,7.7,27.3,49.8,40.0,1.58,58.0,104.0,fdba37,695.659649
18,3909454,2022-04-28 15:21:00,0.88,21.0,708.0,3.5,5.3,27.3,49.9,NaN,1.6,57.0,103.0,fdba37,695.659649
19,3909434,2022-04-28 15:20:00,0.88,21.0,708.0,NaN,NaN,27.3,50.1,40.0,1.61,NaN,103.0,fdba37,695.659649